*{margin:0;padding:0;box-sizing: border-box;}
.container{
    width:95%;
    margin:0 auto;
    height: 10rem;
}
.d-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;}

.my-5{ margin:5% 0 5% 0;}

.w-30{width:30%}
.w-15{width:15%}
.w-10{width:10%}
.w-40{width:40%}
.w-45{width:45%}
.w-100{width:100%}

.img-fluid{max-width: 100%;}

ul{list-style-type: none;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none;color:rgb(125, 133, 9);}
.bg-red{background-color: red;}

nav{color:#fff;padding:1%;}
.py-1{padding:1% 0;}
.py-2{padding:2% 0;}
.px-3{padding:0 3%;}
.bm{border-bottom: 1px solid red;}

.relative{position:relative;}
.overlay{width:100%;height:100%;
background: #3563E9;
opacity:0.1;
position:absolute;
top: 0;
/* ===========Searchbar================ */
}
.search-bar{
    border-radius: 20px;
    border:1px solid #bbb;
    padding:1%;
}
input[type="text"]{
    border:none;
    outline:none;
    padding:1% 2%;
    border-radius: 20px;
    width:80%;
}
/* ===================================== */
.precentg{
    position:absolute;
    top: 20%;
    left: 95%;
    padding-top: 2%;
    transform: translate(-50%,-50%);
    color:#06b51b;
    font-size: 1rem;
    aspect-ratio: 1/1;
border-radius: 50%;
background: #f70;
}
.card {
    display: flex;
    flex-direction: column;
    padding:1%;
     
        border:1px solid #000;
        margin:10px;
        height:10rem;
        background: #f70;
        justify-content: space-between;
        
    }
.card p{
align-items: baseline;
}
