*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
:root{
    /* ============color===================== */
--Acolor:#3563E9;
}

.parent{
    display: flex;
    flex-wrap:wrap;

}
.parent p{
    width:30%;
    height:10rem;
    background-color:#f70;
    margin: 1%;
}
.container{
    width:95%;
    margin:0 auto;
    height: 10rem;
}
.d-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;


}

.my-5{

    margin:5% 0 5% 0;
    
}

.w-30{width:30%}
.w-15{width:15%}
.w-10{width:10%}
.w-40{width:40%}

.img-fluid{
    /* max-width: 100%; */
    max-height: 5rem;
}
.card {
padding:1%;
 
    border:1px solid #000;
    margin:10px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
    color:#000;
}
a:hover{
    text-decoration:none;
    color:rgb(125, 133, 9);
   
}
.bg-red{background-color: red;}
.bg-black{background-color: black;}

nav{

    color:#fff;
    padding:1%;
}
.py-2{
    padding:0 2%;
}
.bm{
    border-bottom: 1px solid red;
}

.relative{
    position:relative;
}
.overlay{
    width:100%;
height:100%;
background: #3563E9;
opacity:0.5;
position:absolute;
/* top:10%;
left:10%; */
}