*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {list-style-type: none;}

.container{
    width:90%;
    background:#bbb;
    margin: 0 auto;
    position:relative;
    height: 100vh;
}
.d-flex{display:flex;}
.d-flex-colum{flex-direction: column;}
.d-inline-block{display:inline-block;}

.padding-10{padding: 10rem 0;}
.align-items-center{align-items: center;}
.align-items-baseline{align-items: baseline;}
.space-evenly{  justify-content: space-evenly;}
.w-100{width: 100%; }
.w-99{width: 99%; }
.w-90{width: 90%; }
.w-50{width: 50%;}
.w-30{width: 30%;}
.w-55{width: 55%; }
.w-45{width:45%; }
.w-20{width:20%;}
.w-10{width:10%;}
.bg-red{background-color:rgb(134, 87, 106);}
.bg-green{background-color:green;}
.bg-yellow{background-color:rgb(90, 173, 141);}
.bg-fff{background-color: #fff;}
.menu-container{
    
}
.menu{
    position: absolute;
    border-radius: 25px;
    background-color: #fff;
    padding: 10rem 0;
    bottom: -6rem;
    right: 5%;
   
}
nav{

    position: sticky;
    width: 100%;
    background-color: red;
    color:#fff;
    font-size: 16px;
    padding: 1%;
    top:0;
    z-index: 1000;

}
nav ul{
    list-style-type: none;
    li{
        background-color: #1f1f1f;
        padding: 1%;
        width: calc(100%/10);
        margin: 0.7%;
        transition: all 0.6s;
    }
    li:hover{
        background-color: #fff;
        padding: 1%;
        width: calc(100%/10);
        margin: 0.1%;
        color: black;
        transform: rotate3d(3deg) rotateX(5deg);
        
       
    }
    
}
 
.card{
    width: 300px;
    height: 300px;
    border: 1px solid #c00b0b;
    background: #c00b0b;
    margin:0 auto;
    overflow: hidden;
    position: relative;

}
.data{
    background: greenyellow;
    width: 100%;
    height: 100%;
    opacity: 0.8;
position:absolute;
top: 0;
display: none;
transform: rotate(180deg);
transition: all 7s;

}
.card:hover .data{display: block;}
* div{

border: 1px solid #f70;
}
.list-icon{
    background-color: #fff;
}
.list-icon i{
    padding: 10% 0;
}
.center-site{
    background-color: #fff;
}
/* .img-center{
    background-color: #1f1f1f;
    padding: 5% 0;
} */
.section1-center{
    max-height: 10rem;
    overflow: hidden;
    background-color:#1f1f1f;
   color: #fff;
    padding: 2%;
    border-radius: 20px;
    
 
}
.section1-center span,button{
    background-color:#f70;
    font-size: large;
    padding: 1%;
     
border-radius: 25px;
border:none;}
.img-center {
    float: right;
   
}
.right-div{
    padding: 2%;
     

}
.right-div img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    align-items:baseline ;
}