*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    perspective: 1000px;
}
.container{
    width:90%;
    margin:0 auto;
    justify-content: center;

}
.flex{display: flex;}
.flex-wrap{flex-wrap: wrap;}
.card{
    position: relative;
    width: 30%;
    height:50vh;
 
    background-color: rgb(245, 245, 245);
    backface-visibility: hidden;
}

.front{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    background-color: #f70;
    color:#fff;
    backface-visibility: hidden;
      transition: all 3s;
 }
 .back{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgb(0, 183, 255);
    color:#fff;
    backface-visibility: hidden;
       transition: all 3s;
 }


.front{z-index:5;
    transform: rotateX(0deg);}
.card:hover .front{
    transform: rotateY(180deg);
     background: blue;
    }
.front img{width: 100%;height: 100%;}
/* -------------------------- */
.back{transform:rotateY(180deg)}
.card:hover .back{
    transform: rotateY(0deg);
}

.layer1{
    width: 50%;
    height: 20%;
    top:10%;
    right: 20%;
    position: absolute;
    background: #f70;
    
    transform: skew(10deg);
    transition: all 3s;
}
.layer2{
    width: 50%;
    height: 20%;
    top:20%;
    right: 30%;
    position: absolute;
    background: #1fd550;
    transform: skew(10deg);
    transition: all 3s;
}
.layer3{
    width: 50%;
    height: 20%;
    top: 34%;
    right: 39%;
    position: absolute;
    background: transparent;
    border:7px solid  #dae810;
    transform: skew(10deg);
    transition: all 3s;
    img{width:0%;    transition: all 3s;}
}
.card:hover .layer1{
    transform: skew(0deg);
    top: 0%;
    right: 0%;
}
.card:hover .layer2{
   transform: skew(0deg);
    top: 0%;
    right: 0%;
}
.card:hover .layer3{
  transform: skew(0deg);
     top: 0%;
    right: 0%;
    img{width:50%}
}

.element{
    width: 25%;
    border-radius: 0%;
    aspect-ratio:1/1;
    background-color: #ae1709;
    animation-name: move;
    animation-duration: 3s;
}


@keyframes move {
    10%{
        border-radius: 10%;
        background-color: #065b06;
    }
    20%{
        border-radius: 20%;
        background-color: #11065b;
    }
    30%{
        border-radius: 30%;
        background-color: #06445b;
    }
    40%{
        border-radius: 40%;
        background-color: #cd11bd;
    }
    50%{
        border-radius: 50%;
        background-color: #c69c10;
    }
    60%{
        border-radius: 60%;
    }
    70%{
        border-radius: 70%;
    }
    80%{
        border-radius: 80%;
    }
    90%{
        border-radius: 90%;
    }
    100%{
        border-radius: 100%;
    }

}