 
:root{

    --primary-color:#F4F2EE;
    --secondary-color:#FFFFFF;
    --accent-color:#191919;
    --font-color:#333333;


    --Acolor:#76E8CD;
    --Bcolor:#164B51;
    --CColor:#BAF3E6;
    --Dcolor:#E8F0FE;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 4px;
}

.card{
    background-color:var(--Bcolor);
    width: 30rem;
    aspect-ratio:2/1;
    border-radius:20px;
    width: 100%;
}
.card .card-title{
    font-size:1.5rem;
    font-weight:bold;
    padding:10px;
    color:var(--Acolor);
}
.card .card-content{
    font-size:1rem;
    padding:10px;
    color:var(--Dcolor);
}
.card .card-button{
    background-color: var(--Acolor);
    color: var(--Decondary-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    width: fit-content;
 
    display: inline-block;
    aspect-ratio: 2/1;
}
