*{ margin:0;padding:0px; box-sizing: border-box;}
.d-inline-block{display:inline-block; vertical-align:auto;}
.container{width:90%; margin:0 auto;}
.container-fluid{width:100%; overflow:hidden;}
.w-50{width:49%;}
.w-25{width:22%;}
.text-center{text-align:center;}
.main-color{color:#b88e2b;}
.main-bg{background-color:#bbbe2f;}
.light-bg{background:#fff3e3;}
.circle{border-radius:50%;aspect-ratio:1/1;}
.py-1{padding:1% 0;}
.py-3{padding:3%;}
.lh-large{line-height:1.7;}
.lh-med{line-height:1.5;}
.l-s-med{letter-spacing: 1.5px;}
.mr-2{margin:2% 0;}
ul{list-style-type:none;}
header{
     background-image: url('../images/hero.png');background-size: 100% 100%;
     
padding:10% 10% 10% 55%;}

nav{margin:3px 0;}
nav ul{ list-style-type:none;height:3rem;}

a{text-decoration: none;color:black;}
section{
    margin:2% 0;
}
.card {
    width: 30%;
    overflow:hidden;
    display: inline-block;
    margin: 1%;
    text-align: center;
}
.card img{
    background-size: 100% 100%;
    aspect-ratio:1/1;
    height: 20rem;
    margin: 0 auto;
    display: inline-block;
    border-radius:20px;
}
#footer{
    height:12rem;
}